<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.richter.eclipse.fontresizer.startup.FontResizerStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Editor font resizer shortcuts"
            id="FontSizer.commands.category"
            name="Font Resizer">
      </category>
      <command
            categoryId="FontSizer.commands.category"
            description="Increase the text editor font size"
            id="FontSizer.commands.increaseFontSizeCommand"
            name="Increase Editor Font">
      </command>
      <command
            categoryId="FontSizer.commands.category"
            description="Decrease the text editor font size"
            id="FontSizer.commands.decreaseFontSizeCommand"
            name="Decrease Editor Font Size">
      </command>
      <command
            categoryId="FontSizer.commands.category"
            description="Reset the text editor font size"
            id="FontSizer.commands.resetFontSizeCommand"
            name="Reset Editor Font Size">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.richter.eclipse.fontresizer.handlers.IncreaseEditorFontSizeHandler"
            commandId="FontSizer.commands.increaseFontSizeCommand">
      </handler>
      <handler
            class="de.richter.eclipse.fontresizer.handlers.DecreaseEditorFontSizeHandler"
            commandId="FontSizer.commands.decreaseFontSizeCommand">
      </handler>
      <handler
            class="de.richter.eclipse.fontresizer.handlers.ResetEditorFontSizeHandler"
            commandId="FontSizer.commands.resetFontSizeCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="FontSizer.commands.increaseFontSizeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+NUMPAD_ADD">
      </key>
      <key
            commandId="FontSizer.commands.decreaseFontSizeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+NUMPAD_SUBTRACT">
      </key>
      <key
            commandId="FontSizer.commands.resetFontSizeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+NUMPAD_EQUAL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="FontSizer.menus.fontSizeChanger"
               label="Font Size Changer"
               mnemonic="M">
            <command
                  commandId="FontSizer.commands.increaseFontSizeCommand"
                  id="FontSizer.menus.increaseFontSizeCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="FontSizer.commands.decreaseFontSizeCommand"
                  id="FontSizer.menus.decreaseFontSizeCommand"
                  mnemonic="T">
            </command>
            <command
                  commandId="FontSizer.commands.resetFontSizeCommand"
                  id="FontSizer.menus.resetFontSizeCommand"
                  mnemonic="R"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="FontSizer.toolbars.FontSizerToolbar">
            <command
                  commandId="FontSizer.commands.increaseFontSizeCommand"
                  icon="icons/full/elcl16/magnify_font.gif"
                  id="FontSizer.toolbars.increaseFontSizeCommand"
                  tooltip="Increase editor font size">
            </command>
            <command
                  commandId="FontSizer.commands.decreaseFontSizeCommand"
                  icon="icons/full/elcl16/reduce_font.gif"
                  id="FontSizer.toolbars.decreaseFontSizeCommand"
                  tooltip="Decrease editor font size">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
