<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="FontSizer.commands.category"
            name="Font Resizer">
      </category>
      <command
            categoryId="FontSizer.commands.category"
            id="FontSizer.commands.increaseFontSizeCommand"
            name="Increase Editor Font">
      </command>
      <command
            categoryId="FontSizer.commands.category"
            id="FontSizer.commands.decreaseFontSizeCommand"
            name="Decrease Editor Font Size">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.richter.eclipse.fontresizer.handlers.IncreaseEditorFontSizeHandler"
            commandId="FontSizer.commands.increaseFontSizeCommand">
      </handler>
      <handler
            class="de.richter.eclipse.fontresizer.handlers.DecreaseEditorFontSizeHandler"
            commandId="FontSizer.commands.decreaseFontSizeCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="FontSizer.commands.increaseFontSizeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+NUMPAD_ADD">
      </key>
      <key
            commandId="FontSizer.commands.decreaseFontSizeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+NUMPAD_SUBTRACT">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="FontSizer.menus.fontSizeChanger"
               label="Font Size Changer"
               mnemonic="M">
            <command
                  commandId="FontSizer.commands.increaseFontSizeCommand"
                  id="FontSizer.menus.increaseFontSizeCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="FontSizer.commands.decreaseFontSizeCommand"
                  id="FontSizer.menus.decreaseFontSizeCommand"
                  mnemonic="T">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="FontSizer.toolbars.sampleToolbar">
            <command
                  commandId="FontSizer.commands.increaseFontSizeCommand"
                  icon="icons/sample.gif"
                  id="FontSizer.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
